/**gobal style**/
html{
    height: 100%;
}
body{
    height: 100%;
}
body{
    background-image: url(../img/fondo.jpg);
    background-size: cover;
    height: 100%;
}

/**container style**/
.login-container{
    background-color: #164d6bbf;
    border-color: #282b314f!important;
    border-radius: 10px;
}
.icon{
    color: #ffffffd9;
}

#iconlogin{
    font-size: 5rem ;
    margin-top: 0rem;
}
.form-login p.h4{
    font-size: 1rem; 
    margin-top: 1rem; 
    margin-bottom: 1rem;
}
.custom-control-label{
    margin-bottom: 1rem;
}
.form-login button.btn{
    border-radius: 20px;
}
.invalid-feedback{
    display: block;
    color: #ff7a87;
    font-size: 90%;
}
.md-form label{
    font-size: 0.7rem!important;
}
.md-form label.active {
    font-size: 0.7rem!important;
}
.md-form .form-control {
    padding-bottom: 0.33rem;
}
@-webkit-keyframes autofill {
    to {
        color: #ffffff;
        background: transparent;
    }
}
input:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}

/**responsive style**/                            
@media (min-width: 576px) {
    #iconlogin{
        font-size: 9rem!important;
    }
    .form-login{
        padding-top: 2rem!important;
    }
    .form-login p.h4{
        margin-top: 1.5rem!important;
        margin-bottom: 1.5rem!important;
    }
    .custom-control-label{
        margin-bottom: 2rem!important;
        margin-top: 1rem!important;
    }
    .md-form label{
        font-size: 1rem!important;
    }
    .md-form label.active {
        font-size: 0.8rem!important;
    }
    .md-form .form-control {
        padding-bottom: 0.55rem;
    }
}
@media (min-width: 768px) {
    .form-login p.h4{
        margin-top: 2rem!important;
        margin-bottom: 2rem!important;
    }
}
@media (min-width: 992px) {
    .form-login{
        padding-top: 3rem!important;
        padding-left: 3rem!important;
        padding-right: 3rem!important;
    }
    .form-login p.h4{
        font-size: 1.8rem!important;

    }
    @media (min-width: 1200px) {
        .form-login{
            padding-top: 4rem!important;
            padding-left: 4rem!important;
            padding-right: 4rem!important;
        }
    }
}
