.log {
    background: url("../../cInterfaseUsuario_SITD/images/login.png") no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'arial',cursive;
}

* {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

.login {
    margin: 40px auto;
    width: 500px;
    position: relative;
    right: 0%; /* mover izquierda o derecha */
}
.login-screen {
    background-color: #FFF;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.app-title {
    text-align: center;
    color: #777;
    font-size: 12px;
}

.login-form {
    text-align: center;
}
.control-group {
    margin-bottom: 10px;
}

input {
    text-align: center;
    background-color: #ECF0F1;
    border: 2px solid transparent;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 200;
    padding: 10px 0;
    width: 250px;
    transition: border .5s;
}

input:focus {
    border: 2px solid #3498DB;
    box-shadow: none;
}

.btn {
    border: 2px solid transparent;
    background: #3498DB;
    color: #ffffff;
    font-size: 16px;
    line-height: 25px;
    padding: 10px 0;
    text-decoration: none;
    text-shadow: none;
    border-radius: 3px;
    box-shadow: none;
    transition: 0.25s;
    display: block;
    width: 250px;
    margin: 0 auto;
}

.btn:hover {
    background-color: #2980B9;
}

.login-link {
    font-size: 12px;
    color: #444;
    display: block;
    margin-top: 12px;
}

.rectangle {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    positon: relative;
    margin-left: 103px;
    width: 50px;
    height: 50px;
    background: #049a04;
    transform: scale(0);
    border-radius: 50%;
    color: white;
    opacity: 0;
    overflow: hidden;
    animation: scale-in .3s ease-out forwards,
    expand .35s .25s ease-out forwards;
}

.notification-text {
    color: white;
    display: flex;
    align-items: center;
    padding: 0 16px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    animation: fade-in .65s ease-in forwards;
}

@keyframes scale-in {
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes expand {
    50% {
        width: 350px;
        border-radius: 6px;
    }
    100% {
        width: 255px;
        border-radius: 4px;
        box-shadow: 0px 1px 3px 0px rgba(0,0,0,.2),
        0px 1px 1px 0px rgba(0,0,0,.14),
        0px 3px 3px -1px rgba(0,0,0,.12);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: .8;
    }
}

